<form class="mt-4" method="POST" action='/courses/deleteCheckBox'>
    <div class="container">
        <div class="row">
            <div>
            <h1>Khóa học của tôi</h1>
            <a href="/me/trash/course">thùng rác({{countDelete}})</a>
            <div class="form-check d-flex align-items-center ">
                <input type="checkbox" class="form-check-input" id="check-box-all">
                <label class="form-check-label" for="check-box-all">Chọn tất cả</label>
                <select class="form-control checkboxs" name="action" required>
                    <option value=''>--Lựa chọn--</option>
                    <option value="delete">Xóa</option>
                    
                </select>
                <button type="submit" class="btn btn-primary btn-apply" disabled>Thực hiện</button>
            </div>
            </div>
            

            <table class="table">
                
                <thead class="thead-dark">
                    <tr>
                    <th scope="col" colspan='2'>STT</th>
                    <th scope="col" colspan='1'>
                        Tên khóa học
                        {{{sortTable 'name' _sort}}}
                    </th>
                    <th scope="col">
                        link video
                        {{{sortTable 'videoID' _sort}}}
                    </th>
                    <th scope="col" colspan='3'>
                        ngày tạo
                        {{{sortTable 'updatedAt' _sort}}}    
                    </th>
                    </tr>
                </thead>
                <tbody>
                    {{#each courses}}
                    <tr>
                    <th>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input elementCheckBox" name="courseIds[]" value="{{this._id}}">
                        </div>
                    </th>
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.videoID}}</td>
                    <td>{{this.createdAt}}</td>
                    <td><a href="/me/{{this._id}}/update"><button type="button" class="btn btn-outline-success">Cập nhập</button></a></td>
                    <td><a href="#" ><button type="button" class="btn btn-outline-success btnDelete" 
                            data-toggle="modal" data-target="#deleteCourse" data-id="{{this._id}}" >Xóa</button>
                        </a>
                    </td>
                    </tr>
                    {{else}}
                    <tr>
                        <td colspan="5" class="text-center"><h3>khóa học chưa được tạo</h3>   <a href="/courses/create">bấm vào đây để tạo khóa học</a> </td>

                    </tr>

                    {{/each}}
                </tbody>
            </table>

            <!-- Modal -->
            <div class="modal fade" id="deleteCourse" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Xóa khóa học</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Bạn có chắc chắn xóa khóa học này ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="btnDelete">Xóa</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                </div>
                </div>
            </div>
            </div>

        </div>
    </div>

    
</form>

<form method="POST" id="formDeleteCourse"> </form>

<script>
    document.addEventListener('DOMContentLoaded',function() {
        let id
        const btnDelete = document.querySelector('#btnDelete')
        const formDelete = document.querySelector('#formDeleteCourse')
        const checkBoxAll = document.querySelector('#check-box-all')
        const btnApply = document.querySelector('.btn-apply')
        const elementCheckBox = $('.elementCheckBox')

        $('.btnDelete').click(function() {
            id = $(this).data('id')
        })

        btnDelete.onclick = function() {
            formDelete.action ='/me/course/' + id + '?_method=DELETE'
            formDelete.submit()
        }

        checkBoxAll.onchange = function(e){
            Array.from(elementCheckBox).forEach(element => element.checked = this.checked)
            this.checked ? btnApply.disabled = false : btnApply.disabled = true
        }
    
        elementCheckBox.click(function(e){
            const  arrayElementCheckBox = Array.from(elementCheckBox)
            let count = 0
            arrayElementCheckBox.forEach(element => element.checked?count++:undefined)
            count ? btnApply.disabled = false : btnApply.disabled = true
            count === arrayElementCheckBox.length 
                ? checkBoxAll.checked = true 
                : checkBoxAll.checked = false
        })

        btnApply.submit = function(){

        }
    })
   
</script>

