<form class="mt-4" name='formTrash' method="POST" action='/courses/trash/handles'>
    <div class="container">
        <div class="row">
            <div>
                <h1>Thùng rác</h1>
                <a href="/me/course/stored">trở về</a>
                <div class="form-check d-flex align-items-center">
                    <input class="form-check-input" type="checkbox" value="" id="check-box-all">
                    <label class="form-check-label" for="defaultCheck1">
                        Chọn tất cả 
                    </label>
                    <div class="form-group checkboxs">
                        <select class="form-control" name='action' required>
                        <option value="">--lựa chọn--</option>
                        <option value="restore">Khôi phục</option>
                        <option value="deleteFore">Xóa vĩnh viễn</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary btn-apply" disabled>Thực hiện</button>
                </div>
               
            </div>
            
            <table class="table">
                
                <thead class="thead-dark">
                    <tr>
                    <th scope="col" colspan="2">STT</th>
                    <th scope="col"colspan="1">Tên khóa học</th>
                    <th scope="col"colspan="1">link video</th>
                    <th scope="col" colspan="3">ngày xóa</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each courses}}
                    <tr>
                        
                    </tr>
                    <tr>
                    <th>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="courseIds[]" value="{{this._id}}">
                        </div>
                    </th>
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.videoID}}</td>
                    <td>{{this.createdAt}}</td>
                    <td><a href=""><button type="button" class="btn btn-outline-success btnRestore " data-id="{{this._id}}">Khôi phục</button></a></td>
                    <td><a href="" ><button type="button" class="btn btn-outline-success btnDelete" 
                            data-toggle="modal" data-target="#deleteCourse" data-id="{{this._id}}" >Xóa vĩnh viễn</button>
                        </a>
                    </td>
                    </tr>
                    {{else}}
                    <tr>
                        <td colspan="5" class="text-center"><h3>Thùng rác trống</h3>   <a href="/me/course/stored">trở về khóa học</a> </td>

                    </tr>
                    {{/each}}
                </tbody>
            </table>

            <!-- Modal -->
            <div class="modal fade" id="deleteCourse" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Xóa khóa học</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Bạn có chắc chắn xóa khóa học này ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="btnDelete">Xóa</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                </div>
                </div>
            </div>
            </div>

        </div>
    </div>

    
</form>
<form method="POST" id="formDeleteCourse"> </form>
<form method="POST" id="formRestoreCourse"> </form>

<script>
    document.addEventListener('DOMContentLoaded',function() {
        let id
        const btnDelete = document.querySelector('#btnDelete')
        const formDelete = document.querySelector('#formDeleteCourse')
        const formRestore = document.querySelector('#formRestoreCourse')
        const btnApply = document.querySelector('.btn-apply')
        const checkBoxAll = document.querySelector("#check-box-all")
        const elementCheckBox = $("input[name= 'courseIds[]']")
        console.log(elementCheckBox)

        $('.btnDelete').click(function(e) {
            e.preventDefault()
            id = $(this).data('id')
        })

        $('.btnRestore').click(function(e) {
            e.preventDefault()
            formRestore.action = '/me/trash/' + $(this).data('id') + '?_method=PATCH'
            formRestore.submit()
        })

        btnDelete.onclick = function() {
            formDelete.action ='/me/course/force/' + id + '?_method=DELETE'
            formDelete.submit()
        }

        checkBoxAll.onclick = function() {
            Array.from(elementCheckBox).forEach(element => element.checked = this.checked)
            // xử lý sự kiện mất disabled btnApply
            this.checked ? btnApply.disabled = false : btnApply.disabled = true
        }
        elementCheckBox.click(function(e){
            let count =0
            const arrayElementCheckBox = Array.from(elementCheckBox)
            arrayElementCheckBox.forEach(element => element.checked ? count++ : undefined)
            count === arrayElementCheckBox.length ? checkBoxAll.checked = true : checkBoxAll.checked = false
            // xử lý sự kiện mất disabled btnApply
            count ? btnApply.disabled = false : btnApply.disabled = true
        })
        
    })
   
</script>

